<li class="media event">
  <a class="pull-left border-aero profile_thumb">
    <i class="fa fa-home aero"></i>
  </a>
  <div class="media-body">
  <a class="title" href="#"><%= shops_sell['name'] %></a>
    <p>Total Revenue: <strong>$ <%= shops_sell['sum'] %></strong></p>
    </p>
  </div>
</li>