<h1>Editing Products Purchase Order</h1>

<%= render 'form', products_purchase_order: @products_purchase_order %>

<%= link_to 'Show', @products_purchase_order %> |
<%= link_to 'Back', products_purchase_orders_path %>
