<% unless notice.nil? %>
<% unless notice['message'].nil? %>
<script type="text/javascript">
  alertify.set('notifier','position', 'top-right');
  alertify.success('<%= notice['message'] %>').dismissOthers();
</script>
<% end %>
<% unless notice['errors'].nil? %>
<script type="text/javascript">
  alertify.set('notifier','position', 'top-right');
  alertify.error('<%= notice['errors'] %>').dismissOthers();
</script>
<% end %>
<% end %>

<div class="" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>New Category</h2>
          <div class="clearfix"></div>
        </div>
        <%= render 'form', category: @category %>
        <div class="pull-right">
          <%= link_to 'Back', categories_path %>
        </div>
      </div>
    </div>
  </div>
</div>
