<p id="notice"><%= notice %></p>

<div class="" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>New Category</h2>
          <div class="clearfix"></div>
        </div>
        <%= render 'form', category: @category %>
        <div class="pull-right">
          <%= link_to 'Back', categories_path %>
        </div>
      </div>
    </div>
  </div>
</div>
