<h1>Editing Products Delivery Order</h1>

<%= render 'form', products_delivery_order: @products_delivery_order %>

<%= link_to 'Show', @products_delivery_order %> |
<%= link_to 'Back', products_delivery_orders_path %>
